<nav class="navbar">
    <div class="navbar-title"><i class="fa-solid fa-graduation-cap"></i>Student Management System</div>
    <div class="toggle-profile">
        <button id="theme-toggle-btn" {{on "click" this.toggleTheme}}>
            {{#if this.isDarkMode}}
            <i class="bi bi-sun"></i>
            {{else}}
            <i class="bi bi-moon-stars"></i>
            {{/if}}
        </button>
        <i class="bi bi-person-circle"></i>
    </div>
</nav>


{{#each this.flashMessages.queue as |flash|}}
<FlashMessage @flash={{flash}} @messageStyle='bootstrap' />
{{/each}}

<div
    class="{{if (or (eq this.currentRoute 'students.add') (eq this.currentRoute 'students.edit')) 'full-screen-outlet' ''}}">
    {{liquid-outlet}}
</div>

<div class="student-container">
    <div class="search-dlt-cont">
        <div><span>Student List</span></div>

        <div class="search-cd-cont">
            <button class="btn-filter" {{on "click" this.toggleCustomize}}>
                <i class="bi bi-layout-sidebar-inset"></i> Customize Columns
            </button>
            {{#if this.isCustomizeVisible}}
            <div class="customize-column" {{on-click-outside this.toggleCustomize}}>
                <span {{on "click" this.toggleCustomize}} {{on-key 'Escape' this.toggleCustomize}}><i
                        class="fa-solid fa-xmark"></i></span>
                <div class="filter-section">
                    <strong>Columns</strong>
                    <div class="custom-column">
                        {{#each (array "reg" "name" "dept" "skills" "college") as |col|}}
                        <label>
                            <input type="checkbox" checked={{this.isColumnVisible col}} {{on "change" (fn
                                this.toggleColumnVisibility col)}} />
                            {{capitalize col}}
                        </label>
                        {{/each}}
                    </div>
                </div>

            </div>
            {{/if}}

            <button class="btn-filter" {{on "click" this.toggleFilter}}>
                <i class="bi bi-funnel"></i> Filters
            </button>
            {{#if this.isFilterVisible}}
            <div class="advanced-filters" {{on-click-outside this.toggleFilter}}>
                <span {{on "click" this.toggleFilter}} {{on-key 'Escape' this.toggleFilter}}><i
                        class="fa-solid fa-xmark"></i></span>
                <div class="filter-section">
                    <strong>Departments</strong>
                    <div class="filter-dept">
                        {{#each this.availableDepartments as |dept|}}
                        <label>
                            <input type="checkbox" value={{dept}} {{on "change" this.updateDeptFilter}}
                                checked={{this.isDeptChecked dept}} />
                            {{dept}}
                        </label>
                        {{/each}}
                    </div>
                </div>

                <div class="filter-section">
                    <strong>Skills:</strong>
                    <div class="filter-skill">
                        {{#each this.availableSkills as |skill|}}
                        <label>
                            <input type="checkbox" value={{skill}} {{on "change" this.updateSkillsFilter}}
                                checked={{includes this.filter.skills skill}} />
                            {{skill}}
                        </label>
                        {{/each}}
                    </div>
                </div>
                <button type="button" {{on "click" this.applyFilter}} class="btn-cd filter">Apply Filters</button>
                <button type="button" {{on "click" this.clearAllFilters}} class="btn-cd cancel">Clear All</button>
            </div>
            {{/if}}

            <div class="search-cont">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" id="search" placeholder="Search here..." {{on "keyup" this.handleSearch}}>
            </div>
            <button {{on "click" this.bulkDelete}} class="btn-cd dlt" {{on-key 'Delete' this.bulkDelete}}>
                <i class="fa-regular fa-trash-can"></i> Delete Selected
            </button>
            <LinkTo @route="students.add" class="btn-cd add" {{on-key 'alt+a' this.addStud}}>
                <i class="fa-solid fa-user-plus"></i> Add Student
            </LinkTo>
        </div>
    </div>
    <StudentList @students={{this.students.filteredStudents}} @deleteRow={{this.deleteRow}} @editRow={{this.editRow}}
        @toggleSelectAll={{this.toggleSelectAll}} @selectAll={{this.selectAll}} @sortByName={{this.sortByName}}
        @isAscending={{this.isAscending}} @visibleColumns={{this.visibleColumns}}/>
</div>