<div class="table-container">
  <table id="table">
    <thead>
      <tr>
        <th><input type="checkbox" {{on "change" @toggleSelectAll}} checked={{@selectAll}} /></th>
        {{#each @items as |item|}}
        {{#if (includes @visibleColumns item.key)}}
        <th class="resizable" data-key={{item.key}} {{did-insert @makeResizable}}>
          {{item.label}}

          {{#if (or (eq item.key "name") (eq item.key "reg") (eq item.key "dept") (eq item.key "clg") (eq item.key
          "skills"))}}
          <i class="bi bi-arrow-down-up" {{on "click" (fn @sortByKey item.key)}}></i>
          {{/if}}

          <span class="resizer"></span>
        </th>
        {{/if}}
        {{/each}}

        <th>Action</th>
      </tr>
    </thead>


    <tbody>
      {{#if (and @students (gt @students.length 0))}}
      <VerticalCollection @estimateHeight={{60}} @items={{@students}} @key="reg" @containerSelector=".table-container"
        as |student|>
        <tr>
          <td><input type="checkbox" /></td>
          {{#each @items as |item|}}
          {{#if (includes @visibleColumns item.key)}}
          <td>
            {{#if (eq item.key "skills")}}
            {{join-array student.skills ", "}}
            {{else}}
            {{get student item.key}}
            {{/if}}
          </td>
          {{/if}}
          {{/each}}

          <td>
            <button class="btn-ed edit" type="button" {{on "click" (fn @editRow student.reg)}}>
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn-ed delete" type="button" {{on "click" (fn @deleteRow student.reg)}}>
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </VerticalCollection>
      {{else}}
      <tr>
        <td colspan="6" style="text-align: center;">No students found</td>
      </tr>
      {{/if}}
    </tbody>

  </table>
</div>