<div class="table-container">
  <table id="table">
    <thead>
      <tr class="main-row">
        <th><input type="checkbox" {{on "change" @toggleSelectAll}} checked={{@selectAll}} /></th>
        {{#each @items as |item|}}
        {{#if (includes @visibleColumns item.key)}}
        <th class="resizable" data-key={{item.key}} {{did-insert @makeResizable}}>
          {{item.label}}
          <i class="bi bi-arrow-down-up" {{on "click" (fn @sortByKey item.key)}}></i>
          <span class="resizer"></span>
          <i class="bi bi-chevron-bar-right" style="float: right; opacity:0.7; cursor:default;"></i>
        </th>
        {{/if}}
        {{/each}}
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      {{#if (and @students (gt @students.length 0))}}
      <VerticalCollection @estimateHeight={{60}} @items={{@students}} @key="reg" @containerSelector=".table-container"
        as |student|>
        <tr data-reg={{student.reg}} class="main-row">

          <td>
            <input type="checkbox" />
            <i class="bi bi-chevron-right chevron-icon {{if (includes @expandedRows student.reg) " rotate"}}" {{on "click" (fn @toggleRow student.reg)}}/>
          </td>

          {{#each @items as |item|}}
          {{#if (includes @visibleColumns item.key)}}
          <td {{on "click" (fn @toggleRow student.reg)}}>
            {{#if (eq item.key "skills")}}
            {{join-array student.skills ", "}}
            {{else}}
            {{get student item.key}}
            {{/if}}
          </td>
          {{/if}}
          {{/each}}

          <td>
            <button class="btn-ed edit" type="button" {{on "click" (fn @editRow student.reg)}}>
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn-ed delete" type="button" {{on "click" (fn @deleteRow student.reg)}}>
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>

        {{#if (includes @expandedRows student.reg)}}
        <tr class="nested-row">
          <td class="nested-row-first-child"></td>
          <td colspan="7">
            <div class="nested-content">
              {{yield student}}
            </div>
          </td>
        </tr>
        {{/if}}

      </VerticalCollection>
      {{else}}
      <tr>
        <td colspan="6" style="text-align: center;">No students found</td>
      </tr>
      {{/if}}
    </tbody>

  </table>
</div>