<div>
  <StudentForm @editStudent={{this.model}} @students={{this.students.students}} @saveStudent={{this.saveStudent}}
    @updateStudents={{this.updateStudents}} @closeForm={{this.closeForm}} />
</div>